<div class="page">
  <header class="header">
    <img class="header__img" src="../assets/icon.png" alt="#">
    <i class="pi pi-bars"></i>
  </header>
  <div class="page__content">
    <div class="page__content_title">
      Проверка счета
    </div>
    <div class="page__content_sample">
      <input (click)="changeNavigation()" type="checkbox" name="switch" id="switch" [(ngModel)]="aboutServiceFlag">
      <label for="switch"></label>
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="footer">
    <ng-container *ngFor="let item of contacts">
      <div class="footer__phone">
        {{item.phone}}
      </div>
      <div class="footer__description">
        {{item.description}}
      </div>
    </ng-container>
    <div class="footer__phone">
      © ТрансКапиталБанк, 2021
    </div>
  </footer>
</div>